runpod==1.7.9
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0
transformers==4.45.0
librosa==0.10.2
soundfile==0.12.1
numpy>=2.0.0
noisereduce==3.0.3
pyannote.audio==3.1.1
audio-separator==0.34.1
SpeechRecognition==3.14.3
onnxruntime==1.20.1
pydub==0.25.1
ffmpeg-python==0.2.0
pytorch-lightning==2.4.0
asteroid-filterbanks==0.4.0
speechbrain==0.5.16
huggingface_hub==0.26.0