runpod==1.7.9
torch
transformers>=4.30.0
librosa
soundfile
numpy>=1.24.0
noisereduce
pyannote.audio>=3.1.0
audio-separator>=0.34.0
SpeechRecognition
onnxruntime
pydub
ffmpeg-python
pytorch-lightning>=2.0.0
asteroid-filterbanks
speechbrain>=0.5.15
huggingface_hub